[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=ibus
Comment=
Exec=env GDK_SCALE=1.0 GDK_DPI_SCALE=1 ibus-daemon
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

